<form [formGroup]="viajanteForm">
  <div class="modal-content">
    <div class="grid p-fluid">
      <div class="field">
        <p class="title medium">Adultos</p>
        <label class="body medium" for="horizontal">(Acima de 12 anos)</label>
        <p-inputNumber
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          mode="decimal"
          [min]="1"
          [max]="10"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-primary"
          incrementButtonIcon="pi pi-plus-circle"
          decrementButtonIcon="pi pi-minus-circle"
          formControlName="passageirosAdultos"
        >
        </p-inputNumber>
      </div>
      <div class="field">
        <p class="title medium">Crianças</p>
        <label class="body medium" for="horizontal">(Entre 2 e 11 anos)</label>
        <p-inputNumber
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          mode="decimal"
          [min]="0"
          [max]="10"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-primary"
          incrementButtonIcon="pi pi-plus-circle"
          decrementButtonIcon="pi pi-minus-circle"
          formControlName="passageirosCriancas"
        >
        </p-inputNumber>
      </div>
      <div class="field">
        <p class="title medium">Bebês</p>
        <label class="body medium" for="horizontal">(Até 2 anos)</label>
        <p-inputNumber
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="horizontal"
          spinnerMode="horizontal"
          mode="decimal"
          [min]="0"
          [max]="10"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-primary"
          incrementButtonIcon="pi pi-plus-circle"
          decrementButtonIcon="pi pi-minus-circle"
          formControlName="passageirosBebes"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="categoria">
      <p class="title medium">Categoria</p>
      <div class="categoria__classe">
        <p-selectButton
          [options]="stateOptions"
          optionLabel="label"
          optionValue="value"
          formControlName="tipo"
        >
          <ng-template let-option pTemplate="item">
            <i
              *ngIf="option.value === viajanteForm.get('tipo')?.value"
              class="pi pi-check"
            ></i>
            {{ option.label }}
          </ng-template>
        </p-selectButton>
      </div>
    </div>
    <div class="botoes">
      <button
        pButton
        class="btn secondary title medium"
        type="button"
        label="Cancelar"
        (click)="close()"
      ></button>
      <button
        pButton
        class="btn primary title medium"
        type="button"
        label="Aplicar"
        (click)="applyValues()"
      ></button>
    </div>
  </div>
</form>
