:host ::ng-deep .precos {
  .labels {
    display: flex;
    justify-content: space-between;
    .label-container:last-child {
      text-align: right;
    }
  }

  .slider {
    padding-bottom: 24px;

    .p-slider {
      width: 100%;
      margin: 0;
      box-sizing: border-box;
    }
  }
}
