<div class="jornada-footer">
  <app-container>
    <div class="jornada-footer__infos">
      <img
        src="assets/imagens/logo-com-tagline.png"
        alt="Logo da aplicação Jornada"
      />
      <div class="jornada-footer__infos-phrases">
        <p>Horário de atentidmento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
      </div>
    </div>

    <div class="jornada-footer__links">
      <p>Acesse nossas redes:</p>
      <div class="jornada-footer__links-icons">
        <a href="http://"
          ><img src="assets/icones/whatsapp.png" alt="Ícone do Whatsapp"
        /></a>
        <a href="http://"
          ><img src="assets/icones/instagram.png" alt="Ícone do Instagram"
        /></a>
        <a href="http://"
          ><img src="assets/icones/twitter.png" alt="Ícone do Twitter"
        /></a>
      </div>
    </div>
  </app-container>
</div>
