.input-container {
  position: relative;
  margin: 8px 0 0 0;
  width: 100%;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;

  transform: translateY(-50%);
  font-size: 14px;
  color: var(--primary);
  background-color: var(--primary-on);
  margin: 0 8px;
  padding: 0 2px;
}

.input-container input {
  width: 100%;
}
